DOCTYPE
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(href="/public/css/bootstrap.css" rel="stylesheet", )
    link(href="/public/css/app.css" rel="stylesheet")
  body
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="/") Brand
        div(class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li 
              a(href="/login") Login
            li 
              a(href="/signup") Registrarse
            li 
              a(href="/api/imagenes") Mis imagenes
            li 
              a(href="/api/imagenes/new") Subir imagen

    div(class="container")
      div(class="jumbotron")
        block contenido

    
