extends ./layout.jade
block contenido
  .col-md-6.center-block.remove-float
    .panel.panel-default
      .panel-heading
        h2 Login
      .panel-body
        form(action="/sessions", method="POST")
          div(class="form-group")
            label(for="username") Usuario
            input(type="text",name="username" class="form-control" placeholder="Ingrese Usuario", id="username")
          div(class="form-group")
            label(for="password") Contraseña
            input(type="password",name="password" class="form-control" placeholder="Ingrese Contraseña" id="password")
          .row
            .col-xs-12.col-sm-6
              input(type="submit", value="Ingresar" class="btn btn-default")
            .col-xs-12.col-sm-6.text-right
              a(href="/signup") Registrarme
