extends ../layout.jade
block contenido
  for d in imagenes
    .image-container
      h2= d.title
      img(src="/public/imgs/#{d._id}.#{d.extension}", alt="imagen")
      if (typeof d.creator !="undefined")
        p Por #{d.creator.email}
  script(src="/public/js/client")